<link href="https://fonts.googleapis.com/css?family=Butcherman&display=swap" rel="stylesheet">

  <div class="cont">


    <h1><b>About</b> <br><span class="design-text">Computer Machine <br>INC.</span> </h1>
    <br>
    <p>Printed catalogs are a thing of the past.
      Gone are the days of receiving a Sears Catalog in the mail. <span class="design-text">Computer Machine INC.</span> is the newest iteration of this old relic.
       An online interactive catalog that will introduce an array of products vividly and comprehensively to consumers.
    An easy tool for retailers to look up products and add to the catalog.</p>



  </div>

